In [1]:
import numpy as np
import pandas as pd

In [13]:
d = {'a':[1,2,np.nan],'b':[2,np.nan,np.nan],'c':[3,2,4]}
d

{'a': [1, 2, nan], 'b': [2, nan, nan], 'c': [3, 2, 4]}

In [14]:
df = pd.DataFrame(d)
df

     a    b  c
0  1.0  2.0  3
1  2.0  NaN  2
2  NaN  NaN  4

In [15]:
df.dropna() # all null value's corrosponding row

     a    b  c
0  1.0  2.0  3

In [16]:
df.dropna(axis=1)

   c
0  3
1  2
2  4

In [25]:
df.dropna(thresh=2)

     a    b  c
0  1.0  2.0  3
1  2.0  NaN  2

In [20]:
df.fillna(value=0)

     a    b  c
0  1.0  2.0  3
1  2.0  0.0  2
2  0.0  0.0  4

In [24]:
df.fillna(value=df.mean())

     a    b  c
0  1.0  2.0  3
1  2.0  2.0  2
2  1.5  2.0  4