In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'col1':[1,2,3,4],
                  'col2':[444,555,666,444],
                  'col3':['abc','bcd','ghi','xys']})

In [3]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  bcd
2     3   666  ghi
3     4   444  xys

In [5]:
df['col2'].unique()

array([444, 555, 666])

In [9]:
len(df['col2'].unique())

3

In [10]:
df['col2'].nunique()

3

In [11]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [13]:
df[(df['col1']>2)]

   col1  col2 col3
2     3   666  ghi
3     4   444  xys

In [14]:
def times2(x):
    return x*2

In [15]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [18]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [20]:
df['col1'].apply(lambda x:x*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [21]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [22]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xys
1     2   555  bcd
2     3   666  ghi

In [29]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [35]:
 data_pivot = {'A':['foo','foo','foo','bar','bar','bar'],
              'B':['one','one','two','two','one','one'],
              'C':['x','y','x','y','x','y'],
              'D':[1,2,3,5,4,1]}
df_pivot = pd.DataFrame(data_pivot)
df_pivot

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  2
2  foo  two  x  3
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [38]:
pivot_table = df_pivot.pivot_table(values='D',index=['A','B'],columns='C')
pivot_table

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  2.0
    two  3.0  NaN

In [40]:
pivot_table.isnull()

C            x      y
A   B
bar one  False  False
    two   True  False
foo one  False  False
    two  False   True