In [1]:
# series

In [2]:
import numpy as np
import pandas as pd

In [4]:
labels= ['a','b','c']
data_mat = [10,20,30]
arr = np.array(data_mat)
d={'a':10,'b':20,'c':30}

In [7]:
    pd.Series(data_mat)

0    10
1    20
2    30
dtype: int64

In [9]:
test_series = pd.Series(data_mat, labels)
test_series

a    10
b    20
c    30
dtype: int64

In [13]:
test_series["b"]

20

In [14]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [22]:
test = pd.Series(data=[sum,print,len])

In [26]:
test

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [34]:
a = pd.Series(data=[1,2,3,4],index=['usa','germany','ussr','japan'])
a

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [35]:
b = pd.Series(data=[1,5,3,4],index=['usa','italy','ussr','japan'])
b

usa      1
italy    5
ussr     3
japan    4
dtype: int64

In [36]:
a + b

germany    NaN
italy      NaN
japan      8.0
usa        2.0
ussr       6.0
dtype: float64

In [37]:
# dataFrames part1

In [41]:
from numpy.random import randn
np.random.seed(101) # for same random in next actions

In [43]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [52]:
df['x']

a    1.693723
b    0.390528
c    0.072960
d   -0.754070
e    1.901755
Name: x, dtype: float64

In [53]:
type(df)

pandas.core.frame.DataFrame

In [54]:
df.x

a    1.693723
b    0.390528
c    0.072960
d   -0.754070
e    1.901755
Name: x, dtype: float64

In [59]:
df[['w','z']]

          w         z
a  0.302665 -1.159119
b -0.134841  0.184502
c  0.807706  0.329646
d -0.497104  0.484752
e -0.116773  1.996652

In [74]:
df['sum'] = df['x'] + df['y']

In [75]:
df

          w         x         y         z       sum
a  0.302665  1.693723 -1.706086 -1.159119 -0.012363
b -0.134841  0.390528  0.166905  0.184502  0.557432
c  0.807706  0.072960  0.638787  0.329646  0.711747
d -0.497104 -0.754070 -0.943406  0.484752 -1.697476
e -0.116773  1.901755  0.238127  1.996652  2.139882

In [76]:
df.drop('sum', axis=1, inplace=True) #axis=1..column

In [77]:
df.shape

(5, 4)

In [80]:
df.loc['a'] #for rows

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [82]:
df.iloc[0] #alternative if position based selection

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [85]:
df.loc[['a','b'],['x','y']]

          x         y
a  1.693723 -1.706086
b  0.390528  0.166905

In [86]:
df.loc['a','x']

1.6937229252040349

In [84]:
# dataFrames part2

In [87]:
df > 0

       w      x      y      z
a   True   True  False  False
b  False   True   True   True
c   True   True   True   True
d  False  False  False   True
e  False   True   True   True

In [88]:
df[df>0]

          w         x         y         z
a  0.302665  1.693723       NaN       NaN
b       NaN  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d       NaN       NaN       NaN  0.484752
e       NaN  1.901755  0.238127  1.996652

In [89]:
df['w']>0

a     True
b    False
c     True
d    False
e    False
Name: w, dtype: bool

In [92]:
resultdf = df[df['w']>0] # will not show null value corresponding to W column
resultdf

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
c  0.807706  0.072960  0.638787  0.329646

In [93]:
resultdf['x']

a    1.693723
c    0.072960
Name: x, dtype: float64

In [97]:
df[df['w']>0][['x','y']]

          x         y
a  1.693723 -1.706086
c  0.072960  0.638787

In [99]:
df[(df['w']>0) & (df['y']>0)]

          w        x         y         z
c  0.807706  0.07296  0.638787  0.329646

In [104]:
df[(df['w']>0) | (df['y']>0)]

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
e -0.116773  1.901755  0.238127  1.996652

In [103]:
df.reset_index() # to numerical index

  index         w         x         y         z
0     a  0.302665  1.693723 -1.706086 -1.159119
1     b -0.134841  0.390528  0.166905  0.184502
2     c  0.807706  0.072960  0.638787  0.329646
3     d -0.497104 -0.754070 -0.943406  0.484752
4     e -0.116773  1.901755  0.238127  1.996652

In [115]:
newind='CA NA FR IN JA'.split()

In [116]:
newind

['CA', 'NA', 'FR', 'IN', 'JA']

In [117]:
df['country'] = newind

In [118]:
df

          w         x         y         z country
a  0.302665  1.693723 -1.706086 -1.159119      CA
b -0.134841  0.390528  0.166905  0.184502      NA
c  0.807706  0.072960  0.638787  0.329646      FR
d -0.497104 -0.754070 -0.943406  0.484752      IN
e -0.116773  1.901755  0.238127  1.996652      JA

In [120]:
df.set_index('country')

                w         x         y         z
country
CA       0.302665  1.693723 -1.706086 -1.159119
NA      -0.134841  0.390528  0.166905  0.184502
FR       0.807706  0.072960  0.638787  0.329646
IN      -0.497104 -0.754070 -0.943406  0.484752
JA      -0.116773  1.901755  0.238127  1.996652

In [121]:
# dataFrames part 3..Advance

In [125]:
#index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))

In [123]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [126]:
hier_multiindex = pd.MultiIndex.from_tuples(hier_index)

In [156]:
hier_multiindex

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]],
           names=['Groups', 'Num'])

In [168]:
df = pd.DataFrame(randn(6,2),hier_multiindex,['A','B'])
df

                   A         B
Groups Num
G1     1    1.130018  0.897796
       2    0.330866 -1.063049
       3   -0.125381 -0.945588
G2     1    2.029544 -1.046358
       2   -1.306482 -1.632924
       3    0.802129 -1.667537

In [169]:
df.index.names = ['Groups', 'Num']

In [170]:
df

                   A         B
Groups Num
G1     1    1.130018  0.897796
       2    0.330866 -1.063049
       3   -0.125381 -0.945588
G2     1    2.029544 -1.046358
       2   -1.306482 -1.632924
       3    0.802129 -1.667537

In [171]:
df.loc['G1'].loc[1]['B']

0.897796311118923

In [172]:
# cross section
df.xs('G1')

            A         B
Num
1    1.130018  0.897796
2    0.330866 -1.063049
3   -0.125381 -0.945588

In [175]:
df.xs(1, level='Num')

               A         B
Groups
G1      1.130018  0.897796
G2      2.029544 -1.046358

In [178]:
# Missing Values